h3 部门人员列表
.panel.panel-default(ng-controller="PermissionCtrl as table")
  .panel-heading
  .return( ng-click="table.return()") << 返回
  .panel-body
    .container-fluid
      h4.cen {{ table.bmname }}
      .lf60
        .lf50
          .center 部门名称
          h5.uli(ng-repeat='item in table.listbm', ng-click="table.checkOnebm(item.id)") {{ item.name }}
        .lf50
          .center 人员名称
          h5.center.wid(ng-repeat='item in table.listry',ng-click="table.checkOnery2(item.userid,item.name)") {{ item.name }}
      table.table.table-bordered.table-hover.bg-white.rt40
        tr(style='font-weight: bold')
          td(style='width:20%') 成员姓名
          td(style='width:20%') 主管
          td(style='width:20%') 操作
        tr(ng-repeat='item in table.rybm')
          td
            span {{ item.name }}
          td
            label
              input(type='checkbox',ng-click="table.updatper(item.id,item.level)",ng-checked="{{ item.level == 1}}" value="item.level"  )
          td(style='white-space: nowrap')
            em.fa.fa-trash.mr.fa-lg(ng-click='table.delstu(item.id)')

      .clear



































































