h3 部门人员列表
.panel.panel-default(ng-controller="PermissionCtrl as table")
  .panel-heading
  .return( ng-click="table.return()") << 返回
  .panel-body
    .container-fluid
      h4.cen {{ table.bmname }}
      .lf30
        .lf50
          .center 部门名称
          h5.uli(ng-repeat='item in table.listbm', ng-click="table.checkOnebm(item.id)") {{ item.name }}
        .lf50
          .center 人员名称
          h5.uli(ng-repeat='item in table.listry', ng-click="table.checkOnery(item.userid,item.name)") {{ item.name }}

      table.table.table-bordered.table-hover.bg-white.rt70
        tr(style='font-weight: bold')
          td(style='width:50%') 成员姓名
          td(style='width:50%') 操作
        tr(ng-repeat='item in table.rybm')
          td
            span {{ item.name }}
          td(style='white-space: nowrap')

            button.mb-sm.btn.btn-success(type='button',ng-click='table.delstu(item.id)') 删除成员





































































