<h3>部门权限管理</h3>
<div class="panel panel-default" ng-controller="PermissionCtrl as table">
   <div class="panel-heading"></div>
   <div class="return" ng-click="table.return()">
      << 返回</div>
         <div class="panel-body">
            <div class="container-fluid">
               <h4 class="cen">{{ table.bmname }}</h4>
               <div class="divv">
                  <div class="lf50">
                     <div class="center">权限列表</div>
                     <h5 class="listb" ng-repeat="item in table.perList" ng-click="table.addper(item.id)">
                        <span class="left paleft">{{ item.name }}</span>
                        <button class="btn btn-success right" type="button" ng-click="table.delper(item.id)">加入权限</button>
                     </h5>
                  </div>
                  <div class="lf50">
                     <div class="center">部门权限列表</div>
                     <table class="table table-bordered table-hover bg-white left">
                        <tr style="font-weight: bold;">
                           <td style="width:50%;">权限名称</td>
                           <td style="width:50%;">操作</td>
                        </tr>
                        <tr ng-repeat="item in table.plist">
                           <td>
                              <span>{{ item.ItemProcess.name }}</span>
                           </td>
                           <td style="white-space: nowrap;">
                              <button class="btn btn-success" type="button" ng-click="table.delper(item.id)">删除权限</button>
                           </td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
   </div>